/*Importo fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.bg-aquamarine {
    background-color: aquamarine;
}

.bg-beige {
    background-color: beige;
}

/* Personalizo botones de acuerdo a la marca Serenah */
.btn-custom {
    background-color: #0fa473;
    color: white;
    transition: background-color 0.2s ease;
}

.btn-custom:hover {
    background-color: #0c855d;
    color: white;
}

/*    HERO Y PRODUCTOS */
.contenedorPrincipal {
    background: linear-gradient(white, #0fa473);
}

.hero-max-width {
    max-width: 700px;
}

.tituloPrincipal {
    color: #0fa473;
}

.textoDescripcion {
    color: cadetblue;
}

.contenedorProductos {
    background-color: rgb(179, 223, 223);
    border-radius: 10px;
    box-shadow: 5px 5px 10px teal;
}

.infoProducto {
    background-color: aliceblue;
    border: 3px solid #0fa47216;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Alinea los botones al fondo equitativamente */
    box-shadow: 5px 5px 10px rgba(0, 128, 128, 0.1);
    transition: transform 0.3s ease;
}

.infoProducto:hover {
    transform: translateY(-5px);
}

.imgProducto {
    width: 220px;
    height: auto;
}

/*    Reseñas con grid */
.tituloResenas {
    color: #0fa473;
}

.contenedorGridResenas {
    display: grid;
    grid-template-columns: 1fr;
    /* 1 columna en móvil */
    gap: 25px;
}

.tarjetaResena {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    border: 3px solid #0fa47216;
    transition: transform 0.3s ease;
}

.tarjetaResena:hover {
    transform: translateY(-5px);
    border-color: #0fa473;
}

.infoUsuario {
    display: flex;
    align-items: center;
    gap: 12px;
}

.imgUsuario {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

/*    FORMULARIO  */
.container-form-width {
    max-width: 550px;
}

/* Media Queries  */
@media (min-width: 768px) {
    .contenedorGridResenas {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas en tablets */
    }
}

@media (min-width: 992px) {
    .contenedorGridResenas {
        grid-template-columns: repeat(3, 1fr);
        /* 3 columnas en pantallas grandes */
    }
}